
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="jquery.js"></script>
</head>
<body>
    <h2>main page</h2>
    <form action="/uploads" method="POST" enctype="multipart/form-data" id="uploadForm">
        <input type="file" name="image">
        <button type="submit">addfile</button>
    </form>

    <h2>articles</h2>
     <a href="/reddit.ejs" id="reddit">reddit </a> <button id="edit">edit</button><button id="delete">delete</button>
    <br> <a href="/bestesssay.ejs">best essay</a> 

     <div id="imageContainer" >
       
            
     </div>
     
<script>

document.getElementById('uploadForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            fetch('/uploads', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                // Display uploaded images
                const imageContainer = document.getElementById('imageContainer');
                imageContainer.innerHTML = '';
                data.forEach(imageUrls => {
                    console.log(imageUrls);
                    const img = document.createElement('img');
                    img.src = imageUrls;
                    imageContainer.appendChild(img);
                });
            })
            .catch(error => console.error('Error:', error));
        });

        $("#delete").click(function(){
            $("#reddit").remove();
        });
</script>


</body>
</html>